@use "mixin" as *;
header {
 width: 100%;
 height: 130px;
 border-bottom: 1px solid #ccc;
 background: #fff;
 .inner {
  width: 100%;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
  }
  nav {
   height: 100%;
   * {
    height: 100%;
   }
   ul {
    display: flex;
    li {
     width: 100px;
     border-left: 1px solid #ccc;
     &:last-child {
      border-right: 1px solid #ccc;
     }
     &:hover,
     &.act {
      a {
       background: #ccc;
      }
     }
     a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 14px;
      span {
       height: auto;
       font-size: 10px;
       color: #75a8ea;
      }
     }
    }
   }
  }
 }
}
.contact_bnr {
 width: 840px;
 margin: 0 auto;
 .bnr_ttl {
  width: 100%;
  height: 45px;
  background: #478ab2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
 }
 .bnr_col {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border: 1px solid #dbdbdb;
  border-top: none;
  p.txt {
   font-size: 16px;
   color: #478ab2;
  }
  p.tel {
   margin-left: auto;
   font-size: 46px;
  }
  p.fax {
   margin-left: 15px;
   font-size: 20px;
  }
 }
}

footer {
 margin-top: 120px;
 width: 100%;
 background: #333;
}
