footer
 -
  const ft_nav = [
   {
    pageName: "会社概要",
    pageDir: "company"
   },
   {
    pageName: "施工実績",
    pageDir: "results"
   },
   {
    pageName: "リクルート",
    pageDir: "recruit"
   },
   {
    pageName: "アクセス",
    pageDir: "access"
   }
  ]
 ul
  each page in ft_nav
   li: a(href="/"+page["pageDir"]+"/") #{page["pageName"]}
 p
  small Copyright (C) Ishii setsubi kougyou Co,ltd. All Rights Reserved.
