extend /_layout
append value
 - const title= "トップページaaaaaaaaaaaaaaaaaaaaa";
 - const description= "ディスクリプション";
 - const keywords= "キーワード,キーワード2,キーワード3";
append addcss
 link(rel="stylesheet", href="top.css")
block content
  #content
   .inner
    p Hello Pug!aaaaaaaaaaaaaasdccvavbvaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
     a(href="/about/") aboutへのリンクaaaaaaaaaaaaaaaa
     a(href="/about/message/") 社長メッセージaaaaa
append addjs
 script(src="js/index.js")